#
# The MySQL database server configuration file for Lando
#
# LANDODRUPALMYSQL8CNF

[server]
# Character sets and SQL mode
character_set_server = utf8mb4
collation_server = utf8mb4_general_ci
sql_mode = ONLY_FULL_GROUP_BY,TRADITIONAL

# Basic Tuning.
max_connections = 500
connect_timeout = 5
wait_timeout = 28800
max_allowed_packet = 32M
thread_cache_size = 128
sort_buffer_size = 4M
bulk_insert_buffer_size = 16M
tmp_table_size = 32M
max_heap_table_size = 32M

# MyISAM.
myisam_recover_options = BACKUP
key_buffer_size = 128M
table_open_cache = 400
myisam_sort_buffer_size = 512M
concurrent_insert = 2
read_buffer_size = 2M
read_rnd_buffer_size = 1M

# InnoDB.
default_storage_engine = InnoDB
innodb_buffer_pool_size = 384M
innodb_log_buffer_size = 8M
innodb_file_per_table = 1
innodb_open_files = 400
innodb_io_capacity = 512
innodb_thread_concurrency = 0
innodb_read_io_threads = 16
innodb_write_io_threads = 16
innodb_flush_log_at_trx_commit = 0
innodb_max_dirty_pages_pct = 70
innodb_adaptive_hash_index = 0
innodb_use_native_aio = 0
innodb_lock_wait_timeout = 127

[mysqld-8.4]
mysql_native_password=ON

[client]
default_character_set=utf8mb4
max_allowed_packet = 64M

[mysqldump]
quick
quote-names
no-tablespaces
